<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Teste do go</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Cursos</h1>
      <table>
         <thead>
             <tr>
                 <th>Nome</th>
                 <th>Horas</th>
             </tr>
         </thead>
         <tbody>
              {{range .}}
               <tr>
                  <td>
                    {{.Nome}}
                  </td>
                  <td>
                      {{.CargaHoraria}}
                  </td>
               </tr>
               {{ end }}
         </tbody>
      </table>

</body>
</html>